#footer{
	background-color: #000;
	padding-bottom: 50px;
	color: #fff;
}
#footer ul{
	margin: 20px 200px;
	list-style-type: none;
	/*float: left;*/
}
#footer ul li{
	float: left;
	margin-right: 50px;
}
#footer #information ul{
	list-style-type: none;
}